// Ogre overlay scripts
mkiv/ConnectingOverlay
{
	zorder 500
	// Stats block
	container BorderPanel(mkiv/ConnectingPanel)
	{
		metrics_mode pixels
		vert_align centre
		horz_align centre
		left -130 
		top 0
		width 260
		height 22

		element TextArea(mkiv/ConnectingTitle)
		{
			metrics_mode pixels
			horz_align center
			vert_align center
			left -150
			top -8
			width 0
			height 26
			font_name Armalite
			char_height 19
			caption Connecting To Server...
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
	}
}
