// Ogre overlay scripts
mkiv/DebugOverlay
{
	zorder 500
	// Stats block
	container BorderPanel(mkiv/StatPanel)
	{
		metrics_mode pixels
		horz_align right
		vert_align top
		left -225 
		top 5
		width 220
		height 117
		material Core/StatsBlockCenter
		border_size 1 1 1 1
		border_material Core/StatsBlockBorder
		border_topleft_uv     0.0000 1.0000 0.0039 0.9961
		border_top_uv         0.0039 1.0000 0.9961 0.9961
		border_topright_uv    0.9961 1.0000 1.0000 0.9961
		border_left_uv        0.0000 0.9961 0.0039 0.0039
		border_right_uv       0.9961 0.9961 1.0000 0.0039
		border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
		border_bottom_uv      0.0039 0.0039 0.9961 0.0000
		border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(mkiv/BreakPanel)
		{
			metrics_mode pixels
			left 5 
			top 22
			width 210
			height 1
			material Core/StatsBreak
		}
		    
		element TextArea(mkiv/CurrFps)
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name BlueHighway
			char_height 19
			caption Current FPS:
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
		element TextArea(mkiv/AverageFps)
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption AVERAGE FPS:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/WorstFps)
		{
			metrics_mode pixels
			left 5
			top 40
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption WORST FPS:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/BestFps)
		{
			metrics_mode pixels
			left 5
			top 55
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption BEST FPS:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/NumTris)
		{
			metrics_mode pixels
			left 5
			top 70
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Triangle Count:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/NumBatches)
		{
			metrics_mode pixels
			left 5
			top 85
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Batch Count:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/CameraText)
		{
			metrics_mode pixels
			left 5
			top 100
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption CamPos:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/CamAim)
		{
			metrics_mode pixels
			left 5
			top 115
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption CamAim:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(mkiv/DebugText)
		{
			metrics_mode pixels
			left 230
			top 70
			width 200
			height 30
			font_name BlueHighway
			char_height 16
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
				
	}
}



